@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/941/519/original/abstract-violet-purple-background-with-fluid-shapes-and-simple-lines-colorful-orange-design-cool-and-modern-concept-eps10-vector.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

section {
    width: 1000px;
    height: 90vh;
    background-color: #DEFCF9;
    display: flex;
    border-radius: 15px;
}

/* LOGO */
.logo {
    display: flex;
    justify-content: center;
}

.logo>h1 {
    font-size: 20px;
    color: #ff662a;
    font-weight: 700;
    padding: 15px 0 0 0;
    margin-bottom: -10px;
    display: flex;
    gap: 7px;
    align-items: center;
    cursor: pointer;
}

/* SIDEBAR */
.sidebar {
    width: 40%;
    height: 100%;
    background-color: #42384e;
    display: flex;
    flex-direction: column;
    border-radius: 15px 0 0 15px;
}

/* SEARCH IN CHAT */
.search {
    position: relative;
    padding: 20px;
}

.search-input {
    margin: 3px 0 15px;
    width: 82%;
    background-color: #ffffff;
    font-size: 16px;
    padding: 15px 15px 15px 45px;
    border-radius: 30px;
    outline: none;
    border: none;
}

.search-icon {
    position: absolute;
    top: 33px;
    left: 33px;
}

/* PROFILE */
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #7e728e7a;
    padding: 12px;
    margin: 7px 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s;
}

.profile:hover,
.selected-chat {
    background-color: #aa86bca5;
}

.profile>div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile>div>img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.profile>div>div>p {
    color: #ffffffb9;
}

.profile>i {
    font-size: 15px;
    padding: 4px 5px;
    border-radius: 50%;
    margin-right: 5px;
    transition: 0.25s;
}

.profile>i:hover {
    background-color: #d8b2eb75;
}


/* CHATBOX */
.chatbox {
    background-color: #ececfb;
    height: 100%;
    width: 60%;
    position: relative;
    border-radius: 0 15px 15px 0;
}

#chat-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-none {
    display: none !important;
}

#chat-intro>img {
    height: 270px;
}

#chat-intro>p {
    font-size: 20px;
}

.chatbox>form {
    position: absolute;
    bottom: 20px;
    left: 25px;
    right: 25px;
}

.chatbox>form>i {
    position: absolute;
    bottom: 0;
    right: 0;

}

.chatbox>form>input {
    width: 94.5%;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* PROFILE CHAT */
.profile-chat {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px;
}

.profile-chat>img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-chat>div>h3 {
    margin-bottom: -5px;
}

.profile-chat>div>p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-chat>div>p>i {
    font-size: 7px;
}

/* CHAT BODY */
/* USER CHAT */
#chat-body{
    position: absolute;
    left: 0;
    right: 0;
    max-height: 75%;
    bottom: 80px;
    overflow-y: auto;
}
.user-chat{
    display: flex;
    align-items: start;
    width: 100%;
}
.user-chat>div{
    background-color: #c9cefc;
    padding: 15px;
    margin: 5px 10px 5px 25px;
    border-radius: 5px;
    width: 77%;
}
.user-chat>div>p{
    font-size: 15px;
}
.user-chat>span>i{
    font-size: 35px;
    padding-top: 7px;
}

/* BOT CHAT */
.bot-chat{
    display: flex;
    align-items: start;
    width: 100%;
}
.bot-chat>div{
    background-color: #fff6dcd5;
    padding: 15px;
    margin: 5px 0 5px 10px;
    border-radius: 5px;
    width: 77%;
}
.bot-chat>div>p{
    font-size: 15px;
}
.bot-chat>span>img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    padding-top: 7px;
    margin-left: 25px;
}

/* BACKGROUND CHANGING */
.bg-group{
    position: fixed;
    right: 20px;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bg-group>button{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.selected-btn{
    border: 2px solid #fff !important;
}